{% extends 'base_admin.html.twig' %}

{% block title %}Edit Bureau{% endblock %}

{% block body %}
    <h1>Modifier Bureau</h1>

    {{ include('bureau/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('bureau_index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

    {{ include('bureau/_delete_form.html.twig') }}
{% endblock %}
