{% extends 'base_admin.html.twig' %}

{% block title %}New Bureau{% endblock %}

{% block body %}
    <h1>Ajouter nouveau Bureau</h1>

    {{ include('bureau/_form.html.twig') }}

    <a href="{{ path('bureau_index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
{% endblock %}
