{% extends 'base_admin.html.twig' %}

{% block title %}New NiveauEtude{% endblock %}

{% block body %}
    <h1>Ajouter nouveau Niveau d'étude</h1>

    {{ include('niveau_etude/_form.html.twig') }}

    <a href="{{ path('niveau_etude_index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
{% endblock %}
