{% extends 'base_user.html.twig' %}

{% block title %}Annonce index{% endblock %}


{% block body %}
    <h1>Les annonces</h1>

    
        {% for annonce in annonces %}
            
              
               <p><a href="{{path('details_annonce',{'id':annonce.id})}}" style="color:blue;"> {{ annonce.Titre }}</a></p>
                
             <p>  {{ annonce.DateAjout ? annonce.DateAjout|date('Y-m-d') : '' }}</p>
             <p>*******************************************************************************************************************</p>
                
                
                   
              
        {% else %}
           
        {% endfor %}
        
     {{ knp_pagination_render( annonces )}}
   
{% endblock %}

