{% extends 'base_user.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Annonce {{ annonce.id }}</h1>

    <table>
        <tbody>
           
            <tr>
              
                <p style="color:#33B8FF;
                  
                    font-family: courier;
                    font-size: 130%;
                
                "
                
                
                >{{ annonce.Titre }}</p>
            
              
                <p>{{ annonce.Contenu }}</p>
            
               
                <p style=" color:black;
                    font-style: italic
                ">{{ annonce.DateAjout ? annonce.DateAjout|date('Y-m-d') : '' }}</p>
            </tr>
        </tbody>
    </table>

{% endblock %}
