{% extends 'base_admin.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    <h1>Modifier Categorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('categorie_index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

    {{ include('categorie/_delete_form.html.twig') }}
{% endblock %}
