{% extends 'base_admin.html.twig' %}

{% block title %}New Categorie{% endblock %}

{% block body %}
    <h1>Ajouter nouvelle Categorie</h1>

    {{ include('categorie/_form.html.twig') }}

    <a href="{{ path('categorie_index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
{% endblock %}
