{% extends 'base_user.html.twig' %}

{% block title %}Hello FormAuthenIndexController!{% endblock %}

{% block body %}
    <section id="login-reg">
        <div class="container">
            <!-- Top content -->
            <div class="row">
                <div class="col-md-6 col-sm-12 forms-right-icons">
                    <div class="section-heading">
                        <h2><span>Connectez-vous avec:</span></h2>
                        <p class="subheading">Choisissez votre statut de connection ci-dessous      <i class="fa fa-hand-o-down" aria-hidden="true"></i>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 icon"><i class="fa fa-user"></i></div>
                        <div class="col-xs-10 datablock">
                            <h4><span>Si vous êtes un enseignant</span></h4>
                            <p>Veuillez saisir votre email et mot de passe pour vous connectez à votre espace enseignant</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 icon"><i class="fa fa-user"></i></div>
                        <div class="col-xs-10 datablock">
                            <h4><span>Si vous êtes un personnel</span></h4>
                            <p>Veuillez saisir votre username et mot de passe pour vous connectez à votre espace personnel</p>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-sm-12">

                    <div class="form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Faites votre choix</h3>
                                <p>De connexion</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-key"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="login-form">
                               
                                 <a href="{{path('app_login')}}"><button  class="btn">Enseignant</button><a>
                                <br>
                                <br>
                                <a href="{{path('app_login2')}}"><button  class="btn">Personnel</button><a>
                            </div>
                        </div>
                    </div>

                    <div class="social-login">
                        <h3>ou connectez-vous avec:</h3>
                        <div class="social-login-buttons">
                            <a class="btn btn-link-1 btn-link-1-facebook" href="#">
                                <i class="fa fa-facebook"></i> Facebook
                            </a>
                            <a class="btn btn-link-1 btn-link-1-twitter" href="#">
                                <i class="fa fa-twitter"></i> Twitter
                            </a>
                            <a class="btn btn-link-1 btn-link-1-google-plus" href="#">
                                <i class="fa fa-google-plus"></i> Google Plus
                            </a>
                        </div>
                    </div>

                </div>

    </section>
{% endblock %}
